* {
    box-sizing: border-box;
  }
  
  body {
    /* Typography */
    font-size: 18px;
    line-height: 27px;  
  }

  row {
    width: 100px;
  }

  .wrapper {
    /* Box-model */
    width: 1024px;
  
    /* Positioning */
    margin: 40px auto;
  }

  @media screen and (max-width: 768px) {
    body {
      background-color: #333;
    }
  
    .wrapper {
      /* Box-model */
      width: 100%;
      padding: 20px;
    }

    @media screen and (max-width: 320px) {
        body {
          background-color: #333;
        }

        .wrapper {
            /* Box-model */
            width: 100%;
            padding: 20px;
          }

          @media screen and (max-width: 168px) {
            body {
              background-color: #333;
            }
          
            .wrapper {
              /* Box-model */
              width: 100%;
              padding: 20px;
            }